@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Arquitectura de Software</h1>
    <p class="lead"> Aplicación Web que Representa a la superintendencia </p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Usuarios </h2>
        <p>
           Maneja las información de los usuarios registrados. Crea, edita y elimina.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Transacciones</h2>
        <p> Consulta todas las transacciones de un usuario </p>
    </div>
    <div class="col-md-4">
        <h2> Intregración SplitPay </h2>
        <p> Consulta de transacciones hechas a SplitPay dada una fecha </p>
    </div>
</div>